$bgColor: #ffffff;
$pure: #ffffff;
$textFused: #787a91;
$primary: #5ab2ff;
$secondary: #5ab2ff;
$boxShadow: 3px 3px 15px -8px rgba(0, 0, 0, 0.3);
$boxShadowHover: 3px 3px 17px -4px rgba(0, 0, 0, 0.3);

// // Dark theme variables
// $bgColor-dark: #1a1a1a;
// $pure-dark: #2e2e2e;
// $textFused-dark: #b0b0b0;
// $primary-dark: #5ab2ff;
// $secondary-dark: #5ab2ff;
// $boxShadow-dark: 3px 3px 15px -8px rgba(0, 0, 0, 0.7);
// $boxShadowHover-dark: 3px 3px 17px -4px rgba(0, 0, 0, 0.7);

$dark-bgColor: #282A3A;
$dark-primary: #5ab2ff;
$dark-secondary: #5ab2ff;
$dark-boxShadow: 3px 3px 15px -8px rgba(0, 0, 0, 0.3);
$dark-boxShadowHover: 3px 3px 17px -4px rgba(0, 0, 0, 0.3);
$dark-textFused: #ffffff;
